asgiref==3.11.1
bottle==0.13.4
cffi==2.1.0
clr_loader==0.3.1
Django==5.2
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.21.0
python-dotenv==1.2.2
pythonnet==3.1.0
pywebview==6.2.1
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
waitress==3.0.2
whitenoise==6.12.0
